.navbar {
    /* width: 60%; */
    display: flex;
    flex-direction: row;
    height: 80px;
    align-items: center;
    justify-content: flex-start;
    padding-left: 40px;
    gap: 40px;
}

.nameContainer {
    color: rgb(122, 151, 250);
    font-family: "Roboto Mono", monospace;
    font-weight: 600;
    font-size: 25px;
}

.linksContainer {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.link {
    color: white;
    font-family: "Roboto Mono", monospace;
    font-weight: 600;
    font-size: 18px;
    cursor: pointer;
}