.projectCardContainer {
  display: flex;
  justify-content: center;
  gap: 100px; /* Adjust the gap between cards as needed */
  padding: 16px;
  margin-top: 50px;
  width: 80%;

  @media (max-width: 767px) {
    flex-direction: column;
  }

  @media (min-width: 768px) and (max-width: 1023px) {

  }
  
  @media (min-width: 1024px) {
    flex-wrap: wrap;
    width: 100%;
    gap: 80px;
  }
}

.card {
  /* border: 1px solid #ddd; */
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #1a294a;
  position: relative;
  transition: box-shadow 0.3s ease; /* Add transition for smooth scaling */
  cursor: pointer;
  text-decoration: none;
  /* width: 80%; */

  @media (min-width: 768px) and (max-width: 1023px) {

  }
  
  @media (min-width: 1024px) {
    width: 400px; /* Set a fixed width for the cards */
  }
}

.card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Increase the shadow for a more pronounced effect */
}

.card:hover .imageContainer img {
  transform: scale(1.1); /* Scale up the image on hover */
}

.imageContainer {
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;

  @media (min-width: 768px) and (max-width: 1023px) {

  }
  
  @media (min-width: 1024px) {
    /* height: 300px;   */
  }
}

.imageContainer img {
  width: auto;
  height: 300px;
  object-fit: fill; /* Ensures the image covers the container without distortion */
  transition: transform 0.3s ease;

  @media (min-width: 768px) and (max-width: 1023px) {

  }
  
  @media (min-width: 1024px) {
    /* height: 300px;   */
  }
}

.content {
  display: flex;
  flex-direction: column;
  padding: 30px 20px;
  transition: opacity 0.3s ease; /* Add transition for smooth opacity change */
}

.card:hover .content {
  opacity: 0.2; /* Fade out the text content on hover */
}

.title {
  color: white;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 22px;
  display: flex;
  align-items: center;
  gap: 6px;
}

.details {
  color: rgb(201, 201, 201);
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
  margin-top: 10px;
}

.showProject {
  display: block;
  position: absolute;
  bottom: 16px;
  left: 50%;
  background-color: #fff;
  color: #1a294a;
  padding: 8px 16px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 700;
  opacity: 0;
  visibility: hidden;
  transform: translateX(-50%) translateY(-130%);
  transition: opacity 0.5s ease, transform 0.5s ease, visibility 0.5s;
}

.card:hover .showProject {
  opacity: 1;
  visibility: visible;
  transform: translateX(-50%) translateY(-150%);
}
