.projectCardContainer {
  display: flex;
  justify-content: center;
  gap: 40px;
  /* padding: 16px; */
  margin-top: 50px;
  width: 80%;

  @media (max-width: 767px) {
    flex-direction: column;
  }

  @media (min-width: 768px) and (max-width: 1023px) {

  }
  
  @media (min-width: 1024px) {
    flex-wrap: wrap;
    width: 100%;
    gap: 40px;
  }
}

.card {
  /* border: 1px solid #ddd; */
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: rgba(158, 158, 158, 0.05);
  position: relative;
  transition: box-shadow 0.3s ease; /* Add transition for smooth scaling */
  cursor: pointer !important;
  text-decoration: none;
  /* width: 80%; */

  @media (min-width: 768px) and (max-width: 1023px) {

  }
  
  @media (min-width: 1024px) {
    width: 400px; /* Set a fixed width for the cards */
  }
}

.card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Increase the shadow for a more pronounced effect */
}

.card:hover .imageContainer img {
  transform: scale(1.1); /* Scale up the image on hover */
}

.imageContainer {
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;

  @media (min-width: 768px) and (max-width: 1023px) {

  }
  
  @media (min-width: 1024px) {
    /* height: 300px;   */
  }
}

.imageContainer img {
  width: auto;
  height: 300px;
  object-fit: fill; /* Ensures the image covers the container without distortion */
  transition: transform 0.3s ease;

  @media (min-width: 768px) and (max-width: 1023px) {

  }
  
  @media (min-width: 1024px) {
    /* height: 300px;   */
  }
}

.content {
  display: flex;
  flex-direction: column;
  padding: 30px 20px;
  transition: opacity 0.3s ease; /* Add transition for smooth opacity change */
  gap: 10px;
}

.card:hover .content {
  opacity: 0.2; /* Fade out the text content on hover */
}

.top {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.title {
  color: white;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 20px;
  display: flex;
  align-items: center;
  gap: 6px;
  white-space: nowrap;
}

.line {
  width: 100%;
  height: 1px;
  background-color: rgba(201, 201, 201, 0.432);
}

.icons {
  display: flex;
  flex-direction: row;
  gap: 10px;
  font-size: 25px;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.icons:hover {
  color: #E18EEC;
}

.details {
  color: rgb(201, 201, 201);
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
  margin-top: 10px;
}

.languages {
  /* margin-top: 10px; */
  color: #E18EEC;
  font-size: 16px;
  font-size: 600;
}

.summary {
  color: white;
  line-height: 25px;
  font-weight: 200;
  font-size: 17px;
  /* display: flex;
  gap: 5px; */
}

.summary span {
  color: #E18EEC;
  cursor: pointer;
  font-weight: 500;
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
  cursor: pointer !important;
  transition: all 0.3s ease-in-out;
}

.summary span:hover {
  color: #e18eecb8;
}

.showProject {
  display: block;
  position: absolute;
  bottom: 16px;
  left: 50%;
  background-color: #fff;
  color: #1a294a;
  padding: 8px 16px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 700;
  opacity: 0;
  visibility: hidden;
  transform: translateX(-50%) translateY(0%);
  transition: opacity 0.5s ease, transform 0.5s ease, visibility 0.5s;
  cursor: pointer !important;
}

.card:hover .showProject {
  opacity: 1;
  visibility: visible;
  transform: translate(-50%, -60%);
}
